{{! Display news from API related to the category  }}

{{!-- <div class="cards">
  {{#each economy}}
    <article class="card">
      <img src="{{enclosure.0.$.url}}" />
      <h1>{{title}}</h1>
      <a href="{{link}}">Read More</a>
    </article>
  {{/each}}
</div> --}}

<link rel="stylesheet" href=" /stylesheets/economy.css" />

<header>
  <nav>
    <div>
      <h1 class="titleh1">Frontline Portugal 📰</h1>
      <div class="time">
        <p class="item paper">Economy</p>
      </div>
    </div>
  </nav>
</header>

<nav>
  <ul class="nav navs navs2">
    <li><a href="/">Home Page</a></li>
    <li><a class="active" href="/categories/economy">Economy</a></li>
    <li><a href="/categories/sports">Sports</a></li>
    <li><a href="/news/list">Articles</a></li>
    <li><a href="/categories/games">Sudoku</a></li>
    {{#unless currentUser}}
      <li class="test"><a href="/auth/login">Login</a></li>
    {{/unless}}
    {{#if currentUser}}
      <li class="test"><a href="/news/create">Create</a></li>
      <li class="test"><a href="/profile">Profile</a></li>

    {{/if}}
  </ul>
  {{#if currentUser}}
    {{!  <a href="/auth/logout">Logout</a> }}
    {{!-- <a href="/auth/signup">Sign Up</a> --}}

  {{/if}}
</nav>

<div class="row">
  {{#each economy}}
    <div class="col-sm-3">
      <div class="card" style="width: 19rem;">

        <img
          class="card-img-top"
          src="{{enclosure.0.$.url}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <a target="_blank" href="{{link}}" class="btn btn-primary">Read More</a>
        </div>

      </div>
    </div>
  {{/each}}
</div>