<link rel="stylesheet" href=" /stylesheets/news.css" />

<header>
  <nav>
    <div>
      <h1 class="titleh1">Frontline Portugal 📰</h1>
      <div class="time">
        <p class="item paper">User's Articles</p>
      </div>
    </div>
  </nav>
</header>

<nav>
  <ul class="nav navs navs2">
    <li><a href="/">Home Page</a></li>
    <li><a href="/categories/economy">Economy</a></li>
    <li><a href="/categories/sports">Sports</a></li>
    <li><a class="active" href="/news/list">Articles</a></li>
    <li><a href="/categories/games">Sudoku</a></li>
    {{#unless currentUser}}
      <li class="test"><a href="/news/create">Create</a></li>
      <li class="test"><a href="/profile">Profile</a></li>
    {{/unless}}
    {{#if currentUser}}

      <li class="test"><a href="/profile">Profile</a></li>

    {{/if}}
  </ul>
  {{#if currentUser}}
    {{!  <a href="/auth/logout">Logout</a> }}
    {{! <a href="/auth/signup">Sign Up</a> }}

  {{/if}}
</nav>

<div class="cards">
  {{#each news}}
    <a class="card">
      <div class="card-hero">
        <img src="{{imageUrl}}" alt="{{title}}" width="288" />
      </div>
      <div class="card-header">
        <h3>{{title}}</h3>
      </div>
      <div class="card-body">
        <p>{{description}}</p>
      </div>
      <div class="card-footer">
        <div class="footer-item">
          <img src="{{author.image}}" class="avatar" width="32" height="32" />
        </div>
        <div> <form action="/edit/{{_id}}" method="post">
          <a href='/news/edit/{{_id}}' class='btn btn-primary'>Edit Article</a>
           </div>
        <div class="footer-item">
          <strong>By: {{author.username}}</strong>
        </div>
      </div>
    </a>
  {{/each}}
</div>