<h1>Articles</h1>

<hr />

<div class='row'>
  {{#each news}}
    <div class='col-md-4 mb-5'>
      <div class='card' style='width: 18rem'>
        <div class='card-top'>
          <img src='{{imageUrl}}' alt='{{title}}' />
        </div>
        <div class='card-body'>
          <h5 class='card-title'>{{title}}</h5>
          <p class='card-text'>{{description}}</p>
          <p>By: {{author.username}}</p>
          <form action="/edit/{{_id}}" method="post">
          <a href='/news/edit/{{_id}}' class='btn btn-primary'>Edit</a>
          </form>
        </div>
      </div>

    </div>
  {{/each}}

</div>
